BotEverLoad/BotEverLoad.json
{
  "name": "BotEverLoad",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad341f76-a192-4613-b82a-79b9fb232b67",
              "name": "tituloBuscado",
              "value": "=http://host.docker.internal:8080/api/youtube/search?query={{ $json.query }}\n\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        -80
      ],
      "id": "ba91f9e7-b5d2-4d2d-9541-03f5b7e9d30f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/youtube/search?query={{ $json[\"query\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        -80
      ],
      "id": "53eba75b-fccb-4d00-91d4-c32e99d4844e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const texto = $json.message.text?.toLowerCase().trim() || \"\";\n\nlet tipo = \"ia\";\nlet query = texto;\nlet esDescarga = false;\n\nif (texto.startsWith(\"/descarga\")) {\n  tipo = \"descarga\";\n  query = texto.replace(\"/descarga\", \"\").trim();\n  esDescarga = true;\n}\n\nreturn [\n  {\n    json: {\n      tipo,\n      query,\n      esDescarga,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -60
      ],
      "id": "3082bbca-ec5e-4e5d-877f-3aa735a81549",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/downloadMusic?videoId={{ $json.items[0].id.videoId }}\n&format=mp3\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id.videoId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -80
      ],
      "id": "043a3233-c88f-48d2-9d30-effd28c47ee4",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/downloadMusic?videoId={{ $json.items[0].id.videoId }}&format=mp3",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -80
      ],
      "id": "b9b9c68c-1c42-425e-9c45-769c0397ab6b",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1400,
        -80
      ],
      "id": "f154f6b6-0cd1-471a-a8a2-a0d60bc96dbf",
      "name": "Telegram",
      "webhookId": "64096826-6d6b-463c-b7ff-291390b7e9af",
      "credentials": {
        "telegramApi": {
          "id": "Lvfddn3KipVBC5AO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistralai/mixtral-8x7b-instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres EverLoad, un asistente simpático y útil dentro de Telegram. Puedes conversar con los usuarios, resolver dudas básicas y explicar cómo usar tus funciones. Cuando un usuario quiera descargar música, debe usar el comando: /descarga [nombre de la canción]. Responde de forma clara, informal y cercana.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.text }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        120
      ],
      "id": "7ccd5175-3e09-41eb-b8ad-131b2574501a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "747afb43-e354-4862-b561-de7b755b0456",
              "leftValue": "={{ $json.esDescarga }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        -60
      ],
      "id": "ab95d5fc-5c35-41a0-8502-891ee171845b",
      "name": "If"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -60,
        -60
      ],
      "id": "6e89a406-2200-4dd1-83fe-408bcf7c17e7",
      "name": "Telegram Trigger",
      "webhookId": "6f213324-aa06-4276-b653-d743ff668d94",
      "credentials": {
        "telegramApi": {
          "id": "Lvfddn3KipVBC5AO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}\n",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1020,
        120
      ],
      "id": "b1003cec-9471-477a-868c-f9e39e84e589",
      "name": "Telegram2",
      "webhookId": "1f0418c8-10b8-4f88-93ef-ff07f54c839b",
      "credentials": {
        "telegramApi": {
          "id": "Lvfddn3KipVBC5AO",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "895d9248-b6a9-4040-810e-3d4deece416e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80ef98da8979a27cad2777afb1476b93a9d8e1f6cb670b98348c311fc48574da"
  },
  "id": "sfGR7LpQPlEdYylf",
  "tags": []
}